# Sistema
.DS_Store
*.log

# Flutter/Dart
**/.dart_tool/
**/.idea/
**/build/
**/.pub-cache/
**/.pub/
**/pubspec.lock
**/android/local.properties
**/ios/Pods/
**/*.xcworkspace
**/*.xcodeproj/project.xcworkspace/
**/*.xcodeproj/xcuserdata/
